<div class="container " style="padding: 10px;">
    <div class="row col-sm-12 col-md-12 collg-12">
        <div class="col-sm-6 col-md-6 collg-6 labelName">
            {{labelName}} :
        </div>
        <div class="col-sm-6 col-md-6 collg-6" *ngIf="itemsList">
            <select id="orders"  [(ngModel)]="selectedValue" style="width:250px"
            (change)="changeValue()">
                <option selected=selected value="select">--select--</option>
                <option *ngFor="let order of itemsList; let i = index" [value]="order.id">
                  {{order.name}}
                </option>
              </select>
        </div>
    </div>